// Borders
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
        -ms-border-radius: $radius;
            border-radius: $radius;
}

@mixin max-width-center{
    max-width: 90%;
    margin: 0 auto;
}
