body{
    background-color: $white-color;
    -webkit-text-size-adjust: 100%;  //fix for iOS
    font-size: 1rem;
}

//FONTS
h1{
    font-family: $poppins-sans;
    font-weight: $semibold;
    font-size: 2.0rem;
}

h2{
    font-family: $poppins-sans;
    font-weight: $normal;
    font-size: 1.5rem;
}

h3{
    font-family: $poppins-sans;
    font-weight: $semibold;
    font-size: 1.2rem;
}

h4{
    font-family: $poppins-sans;
    font-weight: $normal;
    font-size: 1.2rem; 
}


p{
    font-family: $roboto-sans !important;
    font-weight: $light;
    font-size: 1.1rem; 
    margin: 0;
}

.page-container{
    width: 1200px;
    margin: 0 auto;
}

.wrapper {
    @include border-radius($radius);
    box-shadow: $shadow;
}

.y10{
    transition: all 300ms;

    &:hover{
        transform: translateY(-10px);
        box-shadow: 0 20px 40px 0 rgba(0,0,0,0.1);
    }
}


.cta-button{
    @include border-radius($radius50);
    box-shadow: $shadowsmall;
    width: 230px;
    padding: 20px 0;
    display: block;
    text-align: center;
    background-color: $cta-color;
    font-weight: $semibold;
    color: $white-color;
    text-decoration: none;
    transition: all 300ms;

    &:hover{
        background-color: #F0B323;
        box-shadow: $shadow;
    }
}

  
 
