// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600|Roboto:300,400,400i');
// Font Variables
$poppins-sans: 'Poppins', sans-serif;   
$roboto-sans: 'Roboto', sans-serif;

$light: 300;
$normal: 400;
$semibold: 500;


// COLORS
$lvs-color:#007A30;
$primary-color:#2DCA73;
$secondary1-color:#177E89;
$secondary2-color:#3C9760;
$cta-color:#EAC435;
$white-color:#FDFDFD;
$light-grey: #F6F6F6;
$darkgrey-color:#202020;

// Box variables
$radius: 10px;
$shadow: 0 8px 28px 0 rgba(0,0,0,0.1);