.page-container{
    width: 1200px;
    margin: 0 auto;
}

.inner-wrapper{
    padding: 10px
}

.header-elements{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    .title{
        width: 1200px;
    }
}

.page-description{
    width: 60%;
}

.filter-view{
    width: auto;
    align-self: flex-end;
}

.month-bar{
    background-color: $primary-color;
    @include border-radius($radius);
    box-shadow: $shadow;
    padding: 20px 35px;
    margin: 20px 0;
    color: $white-color;
}

.activity-item{
    width: 31%;
    margin-bottom: 40px;
    
    hr{
        width:120px;
    }
}

.activity-img{
    width: 100%;
    border-radius: 10px 10px 0 0;
    height: auto;
}

#overlay{
    position: relative;
    cursor: pointer;
  }
  
#overlay:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(66, 66, 66, 0.5);
    border-radius: 10px 10px 0 0;
}

.item-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.activity-title{
    margin: 40px;
    position: absolute;
    left: 0;
    bottom: 0;
    color: $white-color;

    h3{
        margin-bottom: 5px;
    }

    i{
        color:$primary-color;
        margin-right: 5px;
    }
    
}
.activity-shortdescription{
    margin: 40px;
    display: inline-block;

    p{
        margin-bottom:40px;
    }

    i{
        color:$primary-color;
        margin-right: 5px;
    }

    span{
        font-size: 0.8rem;

    }
}
.activity-hover:hover {
    background-color: $cta-color;
    border-radius: 0 0 10px 10px;

    a{
        text-decoration: none;
    }

    p{
        color: $white-color;
    }

    hr{
        border-top: transparent;
    }
}

.readmore-center{
    text-align: center;
    padding: 5px;

    i{
        margin: 0 5px;
    }

    a{
        text-decoration: none;
    }

    p{
        color: $darkgrey-color;
    }
}



//SINGLE ACTIVITY PAGE SCSS
.activity-container{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 60px;

    // RIGHT SIDE CONTENT
    #overlay{
        span{
            color: $primary-color;
        }

        h3{
            color: $white-color; 
        }
    }

    #overlay:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(66, 66, 66, 0.5);
        border-radius: 10px 10px 0 0;
    }

    .activity-title {
        margin: 40px;
        position: absolute;
        top: 0;
        right: 0;
        text-align: right;
    }

    .wrapper{
        background-color: $white-color;
        margin-right: 20px;
        width: 530px;
    }

    .contact-person{ 
        text-align: center; 

        img{
            width:100px;
        }

        h3{
            margin-bottom: 0;
        }

        h4{
            margin-top: 0;
        }
    }

    .maps {
        background-color: transparent;
        height: auto;
        border-radius: $radius;
    }  
    
    .activity-info{
        p{
            margin-bottom:40px;
        }
    
        i{
            color:$primary-color;
            margin-right: 5px;
        }

        li{
            margin: 10px 0;
        }
    }
    
    
    // LEFT SIDE CONTENT

    .activity-decription {
        width: 750px;
        height: auto;
        border-radius: $radius;
        padding: 40px;
      }

    h3{
        color: $primary-color;
    }

    .previous-events{
        &:first-child {
            margin-right: 20px;
        }

        img{
            width: 48%;
            position: relative;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: cover;
            height: 225px;
            border-radius: $radius;
            
        }
    }
 }

// ATTEND BUTTON LEFT SIDE

.attend-button{
    background-color: $cta-color;
    border-radius: 0 0 10px 10px;
    text-align: center;
    padding: 20px;
    font-weight: $semibold;
    color: $white-color;

    a{
        text-decoration: none;
    }

    p{
        color: $white-color;
    }
}

/**		MEDIA QUERY - Computer 		**/ 

@media only screen and (min-width: 1200px){


}


/**		MEDIA QUERY - Tablet lille og på højkant 		**/  

@media only screen and (min-width: 768px) {

}


