.page-container{
    width: 1200px;
    margin: 0 auto;
}

.inner-wrapper{
    padding: 10px
}

.header-elements{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.page-description{
    width: 60%;
}

.filter-view{
    width: 25%;
    align-self: flex-end;
}

.month-bar{
    background-color: $primary-color;
    @include border-radius($radius);
    box-shadow: $shadow;
    padding: 20px 35px;
    margin: 20px 0;
}

.activity-item{
    width: 30%;
}

.activity-img{
    width: 100%;
}

.item-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.activity-title{
    margin: 40px;
}
.activity-shortdescription{
    margin: 40px;
}