/* reset */
body {
    margin: 0;
}

.navbar {
  display: flex;
  background-color: #fff;
  justify-content: flex-end;

  a {
    color: #000;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }

  a:hover {
    background-color: lightgrey;
    color: black;
  }

}

.header {
    height: 350px;
    text-align: center;
    background: lightgrey;
    color: #000;
    
}

.contactContainer {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* height: 700px; */
    margin-top: 60px;
    margin-bottom: 60px;
    
    .form {
        background-color: #fff;
        width: 750px;
        height: 650px;
        box-shadow: 0 8px 28px 0 rgba(0,0,0,0.1);
        border-radius: 10px;
      }

      form {
        margin: 40px;

        input {
            border: 1px solid #e8e8e8;
            border-radius: 5px;
            width: 650px;
            height: 35px;
          }

        textarea {
            border: 1px solid #e8e8e8;
            border-radius: 5px;
            resize: none;
        }

        h3 {
            color: $darkgrey-color;
            margin-bottom: 0px;
          }
      }

      .wrapper {
        background-color: #fff;
        height: 490px;
        margin-right: 20px; 
        width:530px;
      }
}

.info {
  margin: 40px;

  h2 {
    text-align: center;
    color: $darkgrey-color;
  }
}

ul {
  list-style-type: none;
  padding-left: 0px;
  color: $darkgrey-color;
}

.maps {
  background-color: lightgrey;
  height: 120px;
}

hr {
  border-top: 0.5px solid #F3F3F3;
}


div.contactContainer > div.form > form > input[type="submit"] {
    margin-top: 15px;
    background-color: $cta-color;
    border: 0;
    color: #fff;
    width: 8vw;
}


ul > li > p > a{
    text-decoration: none;
    color: $primary-color;
  }