/* reset */
body {
    margin: 0;
}

.navbar {
  display: flex;
  background-color: #fff;
  justify-content: flex-end;

  a {
    color: #000;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }

  a:hover {
    background-color: lightgrey;
    color: black;
  }

}

.header {
    height: 350px;
    text-align: center;
    background: lightgrey;
    color: #000;
    
}

.container {
  display: flex;
  justify-content: center;
  margin-top: -50px;
}

.contactContainer {
  display: flex;
  justify-content: center;
    /* align-items: center; */
    /* height: 700px; */
    width: 1200px;
    margin-top: 60px;
    margin-bottom: 60px;
    
    .form {
        background-color: #fff;
        // width: 750px;
        width: 60%;
        height: 680px;
        box-shadow: 0 8px 28px 0 rgba(0,0,0,0.1);
        border-radius: 10px;
      }

      form {
        margin: 40px;

        input {
            border: 1px solid #e8e8e8;
            border-radius: 5px;
            width: 100%;
            height: 35px;
          }

        textarea {
            border: 1px solid #e8e8e8;
            border-radius: 5px;
            resize: none;
            width: 100%;
        }

        h3 {
            color: $darkgrey-color;
            margin-bottom: 0px;
          }
      }

      .wrapper {
        background-color: #fff;
        height: 490px;
        margin-right: 20px; 
        // width:530px;
        width: 40%;
        
      }
}

.info {
  margin: 40px;

  h2 {
    text-align: center;
    color: $darkgrey-color;
  }
  P {
    line-height: 30px;
  }
}

ul {
  list-style-type: none;
  padding-left: 0px;
  color: $darkgrey-color;
}

hr {
  border-top: 0.5px solid #F3F3F3;
}


div.contactContainer > div.form > form > input[type="submit"] {
    margin-top: 15px;
    background-color: $cta-color;
    border: 0;
    color: #fff;
    width: 150px;
    border-radius: $radius50;
}


ul > li > p > a{
    text-decoration: none;
    color: $primary-color;
  }

  

@media only screen and (max-device-width: 767px) {
  .site-footer, .copyright-footer {
    display: none;
  }

  .contactContainer {
    flex-direction: column;
    @include max-width-center;


    .wrapper, .form {
      width: 100%;
      margin-right: 0px;
      margin-top: 55px;
      
    } 
    
    .form {
      margin-bottom: 30px;
    }
    .wrapper {
      height: 360px;
    }
  }
  .maps {
    display: none;
  }
  div.contactContainer > div.form > form > input[type="submit"] {
    width: 35vw;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1200px) {
  
  .contactContainer {
    @include max-width-center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .maps {
    display: none;
  }
}


/* iphone 5 */
// @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (-webkit-device-pixel-ratio: 2) {}

/* iphone 7, 8 */
// @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) { }

/* iphone 6+, 6s+, 7+, 8+ */
// @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (-webkit-device-pixel-ratio: 3) {}

/* iphone X */
// @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) { }