
.employees-container{
    width: 90%;
    margin: 35px auto 0;
}

.employee-box{
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.overlay-wrapper{
    position: relative;
    img{
        display: block;
        border-radius: 10px 10px 0 0;
    }
}

.text-overlay{
    border-radius: 10px 10px 0 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(rgba(34, 34, 34, 0.35), rgba(34, 34, 34, 0.35));
    color: $white-color;
    h3{
        margin: 0;
    }
}

.employee-info{
    position: absolute;
    bottom: 25px;
    left: 35px;
    right: 35px;
}

.employee-body{
    text-align: center;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    p{
        font-size: 1rem;
        padding: 30px;
    }
}

.employee-btn{
    i{
        transform: rotate(90deg);
    }
    @include hover-button;
}

@media only screen and (min-width: 768px) {

    .employees-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .employee-box{
        &:last-child{
            margin-bottom: 35px;
        }
    }
    
    .employee-box{
        width: 32%;
    }
}

@media only screen and (min-width: 1200px) {

        .employees-container{
            max-width: 1200px;
        }
}

