img{
    width: 100%;
}

//Header
header{
    background-color: $primary-color;
}

.header-container{
    @include max-width-center;
    justify-content: space-between;
    a{
        color: $white-color;
        text-decoration: none;
    }
}

.contact-info{
    display: flex;
    a{
        display: block;
        padding: 0.6rem;
    }
}

.link-elements{
    display: none;
}

//Navigation
#MobileNav{
    padding: 1.25rem 0px;
    span{
        font-size: 1.3rem;
    }
}

.nav-container{
    @include max-width-center;
    ul{
        margin: 0;
        padding-bottom: 1.3rem;
    }
        li{
            padding: 0.9rem 0;
            a{
                color: $darkgrey-color;
                text-decoration: none;
            }
        }
}

//Main Hero
.banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/Banner.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
    height: 80vh;
    color: $white-color;
    display: flex;
    align-items: center;
}

.banner-container{
    @include max-width-center;
    h1{

    }
    p{
        margin-bottom: 2.1rem;
        line-height: 1.8rem;
    }
    a{
        color: $white-color;
        text-decoration: none;
    }
}

//CTA Section
.cards{
    padding: 4.7rem 0;
    .cards-container{
        line-height: 1.8rem;
        @include max-width-center;
        text-align: center;
        h2{
            margin: 0 0 1.25rem 0;
        }
    }
}

.card-wrapper{
    margin-top: 2.1rem;
    .card-box{
        margin-bottom: 1.9rem;
        &:last-child{
            margin-bottom: 0;
        }
        img{
            border-radius: 0.6rem 0.6rem 0 0;
        }
        .card-body{
            padding: 1.5rem;
            h3{
                margin: 0 0 1.25rem 0;
                font-size: 1.1rem;
            }
            p{
                margin: 0 0 0.9rem 0;
            }
            a{
                color: $darkgrey-color;
                text-decoration: none;
                &:hover{
                    color: $cta-color;
                }
                i{
                    color: $cta-color;
                }
            }
        }
    }
}

//About Section
.about{
    padding-top: 4.7rem;
    background-color: $light-grey;
    .about-container{
        @include max-width-center;
        margin-bottom: 3.1rem;
        h2{
            font-weight: 700;
            font-size: 2rem;
            margin: 0 0 1.25rem 0;
        }
        span{
            line-height: 1.6rem;
            margin-bottom: 1.25rem;
            display: block;
            color: $primary-color;
            font-size: 1.12rem;
            font-style: italic;
        }
        p{
            line-height: 1.8rem;
            margin-bottom: 2.1rem;
        }
    }
}

//Projects Section
.projects{
    background-image: linear-gradient(rgba(45, 202, 115, 0.93), rgba(45, 202, 115, 0.93)), url(../img/project_bg.jpg);
    background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
    color: $white-color;
    padding: 4.7rem 0;
    .projects-container{
        display: flex;
        flex-direction: column;
        @include max-width-center;
    }
    .projects-wrapper{
        order: 1;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        div{
            width: 45%;
            text-align: center; 
            &:nth-child(1), &:nth-child(2){
                margin-bottom: 2rem;
            }
            
            h4{
                font-size: 5rem;
                margin: 0;
            }
        }
    }
    .project-info{
        margin-bottom: 4.61rem;
        h2{
            font-weight: 700;
            font-size: 2rem;
            margin: 0 0 1.25rem 0;
        }
        p{
            line-height: 1.8rem;
            margin-bottom: 2.1rem;
        }
    }
}

//News & Video
.news{
    padding: 4.7rem 0;    
}
.video-container{
    @include max-width-center;
    margin-bottom: 2rem;
    .video{
        color: $white-color;
        position: relative;
        .video-text-wrapper{
            position: absolute;
            top: 0;
            h2, p{
                display: none;
                margin: 0;
            }
        }
    }
}
.news-container{
    @include max-width-center;
}

.text-wrapper{
    h2{
        margin: 0 0 1.25rem 0; 
    }
    p{
        line-height: 1.8rem;
        margin-bottom: 2.1rem;
    }

}

.news-box{
    margin-top: 2.1rem;
    position: relative;
    img{
        border-radius: $radius;
    }
}

.news-text{
    position: absolute;
    bottom: 1.25rem;
    left: 1.25rem;
    color: $white-color;
    font-size: 0.9rem;
    h4{
        margin: 0.9rem 0;
    }
    span{
        border-radius: 5px;
        background-color: $cta-color;
        padding: 0.5rem 0.9rem;
    }
    a{
        color: $white-color;
        text-decoration: none;
        font-size: 0.9rem;
    }
}



//Testimonial Section
.testimonials{
    background-color: $primary-color;
    padding: 4.7rem 0;
}

.testimonials-container{
    color: $white-color;
    text-align: center;
    @include max-width-center;
    p{
        line-height: 1.8rem;
    }
}

.slider-wrapper{
    margin-top: 2.1rem;
}

.box-wrapper{
    margin-bottom: 1.9rem;
    color: $darkgrey-color;
    img{
        border-radius: 50%;
        width: 110px;
        height: 110px;
    }
}

.speach-box{
    background-color: $white-color;
    padding: 1.9rem;
    margin-bottom: 2.1rem;
        p{
            margin-bottom: 1.5rem;
        }
        h4{
            margin: 0;
            font-size: 1.1rem;
        }
}

//Newsletter Section
.newsletter{
    padding: 4.7rem 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../img/newsletter-bg.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.newsletter-container{
    color: $white-color;
    @include max-width-center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    h2{
        font-size: 2rem;
        margin-bottom: 1.25rem;
    }
    p{
        line-height: 1.8rem;
        margin-bottom: 0.9rem;
    }
    a{
        color: $white-color;
    }
}

//Form Element - Style
.newsletter-form
    {
    border: none;
    border-bottom-width: medium;
    border-bottom-style: none;
    border-bottom-color: currentcolor;
    font-size: 1rem;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 0.5rem 1rem;
    width: 90%;
    background-color: transparent;
    border-bottom: 1px solid #9F9F9F;
    color: $white-color;
    text-align: center;
  &:focus{
    border-bottom: 1px solid $primary-color;
    }
}

input[type=submit] {
    border:none;
    margin: 1.5rem 0;
    background-color: $cta-color;
    border-radius: 50px;
    padding: 1.1rem 3.75rem;
}

.social-links{
    a{
        font-size: 1.5rem;
        padding: 0.6rem;
        display: inline-flex;
        text-decoration: none;
        &:hover{
            color: $cta-color;
        }
    }
}

//Sponsor Section
.spons{
    padding: 2.1rem 0;
    background-color: $light-grey;
    .spons-container{
        @include max-width-center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        div{
            width: 45%;
        &:nth-child(1), &:nth-child(2){
                margin-bottom: 2rem;
            }
        }
    }
}


