img{
    width: 100%;
}

//Header

header{
    background-color: $primary-color;
}

.header-container{
    @include max-width-center;
    justify-content: space-between;
    a{
        color: $white-color;
        text-decoration: none;
    }
}

.contact-info{
    display: flex;
    a{
        display: block;
        padding: 10px;
    }
}

.link-elements{
    display: none;
}

//Navigation

#MobileNav{
    padding: 20px 0px;
    span{
        font-size: 22px;
    }
}

.nav-container{
    @include max-width-center;
    ul{
        margin: 0;
        padding-bottom: 20px;
    }
        li{
            padding: 15px 0px;
            a{
                color: $darkgrey-color;
                text-decoration: none;
            }
        }
}

//Main Banner Section

.banner{
    background-image: url(../img/Banner.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
    height: 80vh;
    color: $white-color;
    display: flex;
    align-items: center;
}

.banner-container{
    @include max-width-center;
    a{
        color: $white-color;
        text-decoration: none;
    }
}

//CTA Section

.cards{
    padding: 75px 0px;
    .cards-container{
        @include max-width-center;
        text-align: center;
        h2{
            margin: 0px 0 20px 0;
        }
    }
}

.card-wrapper{
    margin-top: 35px;
    .card-box{
        margin-bottom: 30px;
        &:last-child{
            margin-bottom: 0px;
        }
        img{
            border-radius: 10px 10px 0 0;
        }
        .card-body{
            padding: 25px;
            h3{
                margin: 0;
            }
            a{
                color: $darkgrey-color;
                text-decoration: none;
            }
        }
    }
}

//About Section

.about{
    padding-top: 75px;
    background-color: $light-grey;
    .about-container{
        @include max-width-center;
        margin-bottom: 50px;
        h2{
            margin: 0px 0 20px 0;
        }
    }
}

//Projects Section

.projects{
    background-color: $primary-color;
    color: $white-color;
    padding: 75px 0;
    .projects-container{
        @include max-width-center;
    }
    .projects-wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        div{
            width: 45%;
            text-align: center; 
        }
    }
}

//News & Video

.news{
    padding: 75px 0;    
}
.video-container{
    @include max-width-center;
    .video{
        color: $white-color;
        position: relative;
        .video-text-wrapper{
            position: absolute;
            top: 0;
            h2{
                margin: 0;
            }
        }
    }
}
.news-container{
    @include max-width-center;
}

//Testimonial Section

.testimonials{
    background-color: $primary-color;
    padding: 75px 0;
}

.testimonials-container{
    color: $white-color;
    text-align: center;
    @include max-width-center;
}

.slider-wrapper{
    margin-top: 35px;
}

.box-wrapper{
    margin-bottom: 30px;
    color: $darkgrey-color;
    img{
        border-radius: 50%;
        width: 110px;
        height: 110px;
    }
}

.speach-box{
    background-color: $white-color;
    padding: 30px;
    margin-bottom: 35px;
        p{
            margin: 0 0 25px 0;
        }
        h4{
            margin: 0;
        }
}

//Newsletter Section

.newsletter{
    padding: 75px 0;
    background-image: url(../img/newsletter-bg.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.newsletter-container{
    color: $white-color;
    @include max-width-center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    h2{
        margin: 0px 0 20px 0;
    }
    p{
        margin: 0 0 15px 0;
    }
    a{
        color: $white-color;
    }
}

.social-links{
    a{
        font-size: 22px;
        padding: 10px;
        display: inline-flex;
        text-decoration: none;
    }
}

//Form Element - Style

input[type="email"],
textarea,
select {
    border: none;
    border-bottom-width: medium;
    border-bottom-style: none;
    border-bottom-color: currentcolor;
    margin-bottom: 20px;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 8px 16px;
    width: 90%;
    background-color: transparent;
    border-bottom: 1px solid #9F9F9F;
    color: $white-color;
    text-align: center;
  &:focus{
    border-bottom: 1px solid $primary-color;
    }
}


//Sponsor Section
.spons{
    padding: 35px 0;
    background-color: $light-grey;
    .spons-container{
        @include max-width-center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        div{
            width: 45%;
        &:nth-child(1), &:nth-child(2){
                margin-bottom: 25px;
            }
        }
    }
}


