.nyhed-sidebar{
    padding: 30px;
    span{
        font-weight: $semibold;
    }
}

@media only screen and (min-width: 768px) {

    .nyhed-sidebar{
        flex-grow: 2;
        flex-shrink: 1;
        flex-basis: 0%;
        align-self: flex-start;
    }
}


@media only screen and (min-width: 1200px) {

    .nyhed-sidebar {
        flex-grow: 1.3;
        flex-shrink: 1;
        flex-basis: 0%;
    }
}