.header-container{
    border-bottom:1px solid #2DCA73;
    display:flex;
    background-color:#2DCA73;
    height:50px;
    width:100%;


    align-items: center;
    

    }
.header-container a{
    text-decoration:none;
    color:#ffffff;

}
.contact-info{
    width:83%;
    padding-left:100px;
    font-size:18px;
    word-spacing: 2px;
    letter-spacing:2px;
    
                }
.line-elements{
    word-spacing: 20px;
    font-size: 25px;
    }
.nav-container{
    padding-left: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-container ul{
    display:flex;
    flex-direction:row;
    float:right;
    padding-right:100px;
    padding-top:15px;
}
.nav-container ul li{
    list-style:none;
    padding-left: 50px;
    font-size:21px;
}
.nav-container ul li a:link{
    text-decoration:none;
    color:black;
}
.banner-container{
    width:100%;
    height:550px;
    background-color:gray;
    background-blend-mode: color;
    background-image:url('https://imageshack.com/a/img924/386/K4JSb6.png');
    background-blend-mode:darken;
}
.cta-container{
    padding-left: 100px;
}
.content{
    text-align: center;
    padding:50px 450px 50px 350px;
    font-size: 30px
}
.cta-wrapper{
    display:flex;
    justify-content: space-around;
    padding-right:100px;
    padding-left:100px;
    margin-right:200px;
    margin-left:100px;
    
    
}
.card_box{
    display:flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom:50px;
}

.card_box h3{
    position:absolute;
    top:150px;
    left:30px;
    color:white;
    
}
.card_box{
    
    position:relative;
}


.card-body{
    text-align: center;
    width:379.89px;
    height:350px;
    box-shadow: 2px 2px 20px gray;
    
    
    
}
.card-body p{
    font-size: 17px;
    padding: 20px;
}
#learn{
    padding-top: 20px;
    padding-left:60%;
}
#learn a{
    width:144.11px;
    background-color: #F0C45C;
    border-radius: 50px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size:15px;
    padding: 15px 0;
    color: white;
    box-shadow: 2px 2px 20px gray
    
}
